<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "See all cocktails", cocktails_path, class: "nav-link navbar-custom-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "nav-link navbar-custom-link" %>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/cocktails">
      <input class="form-control mr-sm-2" type="search" name="query" value="<%= params[:query] %>" placeholder="Search cocktail" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0" type="submit">Search cocktail</button>
    </form>
  </div>
</nav>
